<p>Find me in app/views/articles/show.html.erb</p>

<h1>Das ist der Titel <%= @article.title %></h1>

<p>Das ist der Body <%= @article.body %></p>

<ul>
<%= link_to "Edit Article", edit_article_path(@article) %>

<li><%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments  %>

<h2>Add a comment:</h2>
<%= render "comments/form", article: @article %>

